/1001951.pdf
/Kathleen Fitzpatrick - Planned Obsolescence_ Publishing, Technology, and the Future of the Academy-New York University Press (2011).pdf
/Liyang Yu (auth.) - A Developer’s Guide to the Semantic Web-Springer-Verlag Berlin Heidelberg (2014).pdf
/*.pdf
